@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    color: $secondary_color;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $primary_color;
    @include reset(0);
}



header{ 
    background-color: $accent;
    @include reset(0);
}

#wrapper {
    background-color: $secondary_color;
    color: $primary_color;
    @include reset(0);
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    min-height: 100vh;

    main{
        flex: 1;
        display: flex;
        flex-direction: column;

        #game {
            display: flex;
            flex-flow: column wrap;

            h3{
                flex: 2;
            }
            section {
                flex: 1;
            }
        }
    }

    footer {
        background-color: $accent2;
        color: $primary_color;
        padding: 15px 38%;
    }
}







img {
    width: $diceSize;
    height: $diceSize;
}

#pop-up {
    background-color: $accent2;
    color: black;
    width: 300px;
    padding:10px;
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 5px 5px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
    animate this opacity property
    from 0 to 1    
    */
    opacity: 1;
    pointer-events: none;
}

#btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    border: solid 2px $primary_color;

}

#btn-close, #btn-ok {
    cursor: pointer;
    pointer-events: all;
}